
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root
{
    --white: hsl(0, 0%, 100%);
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    background-color: var(--very-light-gray);
    padding: 45px 25px;
}

h1
{
    font-family: 'Big Shoulders Display', 'cursive';
    font-weight: 700;
    color: var(--very-light-gray);
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container
{
    padding-top: 45px;
    padding-bottom: 45px;
}

.card
{
    padding: 50px;
    border: none;
}

.card-1
{
    background-color: var(--bright-orange);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-2
{
    background-color:var(--dark-cyan);
}

.card-3
{
    background-color: var(--very-dark-cyan);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card p
{
    color: var(--transparent-white);
    line-height: 200%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card-ico
{
    padding-bottom: 20px;
}

.card-button
{
    padding: 20px 35px;
    background-color: var(--very-light-gray);
    border: none;
    border-radius: 50px;
    font-family: 'Lexend Deca', sans-serif;
    margin-top: 10px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.btn-1
{
    color: var(--bright-orange);
    border: 1px solid var(--bright-orange);
}

.btn-2
{
    color: var(--dark-cyan);
    border: 1px solid var(--dark-cyan);
}

.btn-3
{
    color: var(--very-dark-cyan);
    border: 1px solid var(--very-dark-cyan);
}

.btn-1:hover
{
    background-color: var(--bright-orange);
    border: 1px solid var(--transparent-white);
    color: var(--transparent-white);
}

.btn-2:hover
{
    background-color: var(--dark-cyan);
    border: 1px solid var(--transparent-white);
    color: var(--transparent-white);
}

.btn-3:hover
{
    background-color: var(--very-dark-cyan);
    border: 1px solid var(--transparent-white);
    color: var(--transparent-white);
}


.attribution 
{ 
    font-size: 11px; 
    text-align: center;
}

.attribution a 
{ 
    color: hsl(228, 45%, 44%); 
}
